#pbtn {
    color: white;
    background-color: #485C11;
    height: 40px;
    width: 100px;
    font-size: small;
    border-radius: 50px;

}
header{
    background-image: url("/assets/images/image.jfif"); 
    background-size: cover;
    width: 100%;
    height: 100px;
    display: flex;
    gap: 200px;
    margin-bottom: 0px;
    position: relative;
}
#logo{
    position: absolute;
    right: 30px;
    height: 100px;
    width: 100px;
    
}
footer{
    background-color:#cddeb1;
}
#mention {
    text-align: center;
}
#tag1 {
    text-align: center;
    font-size: large;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#main2{
    margin-top: 0px;
    background-color:#cddeb1;
    width: 100%;
}
h1 {
    color: black;
    text-align: center;
    font-size: 120px;
    font-weight: 200;
}
h2 {
    color: black;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
}
#cles{
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    
}
#apropos{
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
#text{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
main{
    text-align: center;
    margin: 0;
}
#dbtn {
    color: white;
    background-color: #485C11;
    height: 50px;
    width: 30%;
    font-size: 30px;
    border-radius: 15px;  
    margin: 0 auto;
}
#image1 {
    width: 50%;
    max-width: 1250px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#tag2 {
     text-align:left;
    font-size:medium;
}

.titre{
    background-color: #8E9C78;
    border-radius: 50px;
}
.titre >h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    padding: 20px;
    margin-bottom: 1px;
}
#image2 {
    margin-top:0 ;
     width: 500%;
    max-width: 1250px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 50px;
}
#body1 {
    background-color: #cddeb1;
}
#main3{
    width: 100%;
    /* background-image: url("/assets/images/image.jfif"); */
    background-size: cover;
    background-position: center;
    text-align: center;
}
.intervenants{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

#intervenant1{
    background-color: #8E9C78;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 100px;
    text-align: left;
}
.cart{   
    height: 500px;
}

.name1{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
#nom1{
    text-align: center;
    padding-top: 40px;
}
#intervention1{
    text-align: center;
}
#linkedin1{
    position: relative;
    left: 250px;
}
#moutiaa{
    border-radius: 50px;
    width: 300px;
    height: 300px;
}

#intervenant2{
    background-color: #8E9C78;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 100px;
    text-align: left;
}
.name2{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
#nom2{
    text-align: center;
}
#intervention2{
    text-align: center;
}
#linkedin2{
    position: relative;
    left: 250px;
}
#amine{
    border-radius: 50px;
    width: 300px;
    height: 300px;
}

#intervenant3{
    background-color: #8E9C78;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 100px;
    text-align: left;
}
.name3{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
#nom3{
    text-align: center;
}
#intervention3{
    text-align: center;
}
#linkedin3{
    position: relative;
    left: 250px;
}
#salma{
    border-radius: 50px;
    width: 300px;
    height: 300px;
}

#intervenant4{
    background-color: #8E9C78;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 100px;
    text-align: left;
}
.name4{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
#nom4{
    text-align: center;
}
#intervention4{
    text-align: center;
}
#linkedin4{
    position: relative;
    left: 250px;
}
#fatima{
    border-radius: 50px;
    width: 300px;
    height: 300px;
}

#intervenant5{
    background-color: #8E9C78;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 100px;
    text-align: left;
}
.name5{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
#nom5{
    text-align: center;
}
#intervention5{
    text-align: center;
}
#linkedin5{
    position: relative;
    left: 250px;
}
#rachid{
    border-radius: 50px;
    width: 300px;
    height: 300px;
}

#intervenant6{
    background-color: #8E9C78;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 100px;
    text-align: left;
}
.name6{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
#nom6{
    text-align: center;
}
#intervention6{
    text-align: center;
}
#linkedin6{
    position: relative;
    left: 250px;
}
#hoda{
    border-radius: 50px;
    width: 300px;
    height: 300px;
}
#body3{
      background-image: url("/assets/images/image.jfif");
    background-size: cover;
    background-position: center;
}














